@font-face {
  font-family: RegularSegoeUI;
  src: url(fonts/segoeui.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: RegularSegoeUI;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  height: 108px;
  width: 100%;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 10px;
}
nav .links-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #000;
  margin-right: 8px;
}
nav .links-left img {
  height: 73px;
  width: 73px;
  margin-right: 8px;
}
nav .links-left p {
  margin: 0;
}
nav .searchbar {
  width: 31%;
  height: 44px;
  background: url(../images/search.png);
  padding: 10px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 5px;
  border: none;
  background-color: #587C83;
  opacity: 35%;
  padding-left: 40px;
}
nav .links-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 716px;
}
nav .links-right a {
  display: flex;
  text-decoration: none;
  color: #000;
}
nav .links-right .right-img-link p {
  padding-top: 16px;
  margin-right: 10px;
}
nav .links-right .right-img-link img {
  width: 52px;
  height: 52px;
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 0 30px;
  }
  nav .links-left img {
    width: 45px;
    height: 45px;
  }
  nav .searchbar {
    width: 51%;
  }
  nav .links-right {
    visibility: hidden;
    width: 0px;
  }
  nav .hamburger {
    background-image: url("../images/hamburger.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}
@media screen and (max-width: 390px) {
  nav {
    justify-content: space-between;
    padding: 0 15px;
  }
  nav .links-left p {
    font-size: 13px;
  }
  nav .links-left img {
    width: 30px;
    height: 30px;
  }
  nav .searchbar {
    width: 43%;
    height: 16px;
    background-size: 15px;
    font-size: 11px;
    padding-left: 27px;
  }
  nav .links-right {
    visibility: hidden;
    width: 0px;
  }
  nav .hamburger {
    background-image: url("../images/hamburger.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33px;
    height: 33px;
    cursor: pointer;
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 92px;
  background-color: #587C83;
  padding: 0 104px;
  padding: 0 5%;
}
footer .footer-left {
  color: #fff;
}
footer .footer-center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
}
footer .footer-center a {
  text-decoration: none;
  color: #fff;
}
footer .footer-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
}
footer .footer-right img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  footer {
    font-size: 11px;
  }
  footer .footer-right {
    width: 120px;
  }
  footer .footer-right img {
    width: 22px;
    height: 22px;
  }
}
@media screen and (max-width: 390px) {
  footer {
    font-size: 6px;
  }
  footer .footer-center {
    width: 130px;
  }
  footer .footer-right {
    width: 70px;
  }
  footer .footer-right img {
    width: 14px;
    height: 14px;
  }
}
.home {
  height: 100%;
}
.home .home-hero {
  max-width: 78%;
  height: 530px;
  background-image: linear-gradient(rgba(88, 124, 131, 0.7), rgba(88, 124, 131, 0.7)), url(../images/home-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 158px auto 176px auto;
}
.home .home-hero .home-hero-info {
  position: absolute;
  right: 22%;
  top: 43%;
  color: #fff;
}
.home .home-hero .home-hero-info h1 {
  font-size: 32px;
  margin-top: -5px;
  margin-bottom: 0;
}
.home .home-hero .home-hero-info p {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .home .home-hero {
    background-image: none;
    height: 329px;
    width: 552px;
    background-color: #587C83;
    margin: 88px auto 66px auto;
  }
  .home .home-hero .home-hero-query {
    background-image: linear-gradient(rgba(88, 124, 131, 0.3), rgba(88, 124, 131, 0.3)), url(../images/home-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 49%;
    height: 55%;
    position: relative;
    top: 23%;
    left: 15%;
  }
  .home .home-hero .home-hero-info {
    position: static;
    margin-top: -70px;
    margin-left: 400px;
    margin-left: 72%;
  }
  .home .home-hero .home-hero-info h1 {
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 0;
  }
  .home .home-hero .home-hero-info p {
    font-size: 7px;
    margin-top: 14px;
  }
}
@media screen and (max-width: 390px) {
  .home .home-hero {
    background-image: none;
    height: 193px;
    width: 316px;
    background-color: #587C83;
    margin: 88px auto 66px auto;
  }
  .home .home-hero .home-hero-query {
    background-image: linear-gradient(rgba(88, 124, 131, 0.3), rgba(88, 124, 131, 0.3)), url(../images/home-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 116px;
    height: 77;
    position: relative;
    top: 23%;
    left: 15%;
  }
  .home .home-hero .home-hero-info {
    position: static;
    margin-top: -60px;
    margin-left: 64%;
  }
  .home .home-hero .home-hero-info h1 {
    font-size: 6px;
    margin-bottom: 5px;
  }
  .home .home-hero .home-hero-info p {
    font-size: 6px;
    margin-top: 20px;
  }
}
.home-showcase {
  max-width: 91%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto 188px auto;
}
.home-showcase .showcase-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 413px;
}
.home-showcase .showcase-card img {
  width: 306px;
  max-width: 100%;
  height: 491px;
  margin-bottom: 50px;
}
.home-showcase .showcase-card p {
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
}
.home-showcase .showcase-card h1 {
  font-size: 32px;
  margin-bottom: 45px;
}
.home-showcase .showcase-card button {
  width: 222px;
  height: 68px;
  border: 1px solid #000;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .home-showcase {
    flex-direction: column;
  }
  .home-showcase .showcase-card {
    margin-bottom: 71px;
  }
  .home-showcase .showcase-card img {
    width: 175px;
    height: 281px;
  }
  .home-showcase .showcase-card p, .home-showcase .showcase-card h1 {
    font-size: 11px;
  }
  .home-showcase .showcase-card button {
    width: 183px;
    height: 49px;
  }
}
@media screen and (max-width: 390px) {
  .home-showcase {
    flex-direction: column;
    margin-bottom: 0;
  }
  .home-showcase .showcase-card {
    margin-bottom: 86px;
  }
  .home-showcase .showcase-card img {
    width: 70px;
    height: 112px;
    margin-bottom: 15px;
  }
  .home-showcase .showcase-card p, .home-showcase .showcase-card h1 {
    font-size: 6px;
    width: 167px;
    text-align: center;
    margin-bottom: 5px;
  }
  .home-showcase .showcase-card button {
    margin-top: 7px;
    width: 114px;
    height: 30px;
    font-size: 6px;
  }
}
.about .about-card {
  display: flex;
  align-items: center;
  max-width: 1607px;
  margin: auto;
  padding: 0 20px;
}
.about .about-card img {
  width: 393px;
  height: 587px;
  margin-top: 213px;
  margin-bottom: 213px;
}
.about .about-card .about-card-right {
  max-width: 1134px;
  margin-bottom: 350px;
  margin-left: 40px;
}
.about .about-card .about-card-right h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}
.about .about-card .about-card-right .bottom-title {
  margin-bottom: 60px;
}
.about .about-card .about-card-right h3 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 60px;
}
.about .about-card .about-card-right p {
  font-weight: bold;
}

.books {
  padding: 20px;
}
.books .book-section {
  margin: 180px auto;
}
.books .book-section h1 {
  font-size: 26px;
  margin-left: 1%;
  margin-bottom: 65px;
}
.books .book-section .book-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.books .book-section .book-row .book {
  display: flex;
}
.books .book-section .book-row .book .bookset-img {
  width: 223px;
  height: 246px;
}
.books .book-section .book-row .book .book-img {
  width: 206px;
  height: 311px;
}
.books .book-section .book-row .book .book-right {
  max-width: 280px;
  margin-left: 54px;
}
.books .book-section .book-row .book .book-right h3 {
  margin: 48px 0 68px 0;
}
.books .book-section .book-row .book .book-right button {
  width: 222px;
  height: 68px;
  border: 1px solid #000;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
