@import 'fonts.scss';
@import 'variables.scss';
@import 'structure.scss';
@import 'nav-footer/nav.scss';
@import 'nav-footer/footer.scss';
@import 'home/home-hero.scss';
@import 'home/home-showcase.scss';
@import 'about/about.scss';