.account{
    height: 100%;
    align-items: center;
    justify-content: center;
    
    input{
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-width: medium;
        display: block;
        border-bottom: 2px solid black;
        margin-bottom: 35px;
    }

    .flex-container_account{
        display: flex;
        flex-direction: row;
        height: 600px;
        max-width: 1200px;
        margin: 200px auto;

        .boxOne_account, .boxTwo_account{
            position: relative;
            left: 300px;
        }

        .boxOne_account{
            position: relative;
            top: 10px;
            width: 500px;
            height: 500px;

            .title{
                font-size: 26px;
                font-family: $site-fontReg;
                padding-bottom: 30px;
            }

            .logBtn{
                background-color: $site-blue;
                border: 1px solid black;
                text-align: center;
                color: white;
                position: relative;
                left: 50px;
                width: 120px;
                height: 35px;
            }
        }

        .boxTwo_account{
            top: -35px;
            width: 500px;
            height: 500px;

            .title{
                font-size: 26px;
                font-family: $site-fontReg;
                padding-bottom: 10px;
            }

            .subtext{
                font-family: $site-fontReg;
                position: relative;
                bottom: -15px;
            }

            .signBtn{
                background-color: $site-blue;
                border: 1px solid black;
                text-align: center;
                color: white;
                position: relative;
                left: 60px;
                width: 120px;
                height: 35px;
            }
        }

        
    }
}