footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 92px;
    background-color: $site-blue;
    padding: 0 104px;
    padding: 0 5%;

    .footer-left {
        color: #fff;
    }

    .footer-center {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 400px;
        
        a {
            text-decoration: none;
            color: #fff;
        }
    }

    .footer-right {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 300px;

        img {
            width: 50px;
            height: 50px;
        }
    }
}

//ipad media query
@media screen and (max-width: $ipad-width)  {
    footer {
        font-size: 11px;

        .footer-right {
            width: 120px;

            img {
                width: 22px;
                height: 22px;
            }
        }
        
    }
}

@media screen and (max-width: $iphone-width) {
    footer {
        font-size: 6px;

        .footer-center {
            width: 130px;
        }

        .footer-right {
            width: 70px;

            img {
                width: 14px;
                height: 14px;
            }
        }
        
    }
}