nav {
    height: 108px;
    width: 100%;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0 10px;

    .links-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        color: #000;
        // width: 201px;
        margin-right: 8px;

        img {
            height: 73px;
            width: 73px;
            margin-right: 8px;
        }

        p {
            margin: 0;
        }
    }

    .searchbar {
        width: 31%;
        height: 44px;
        background: url(../images/search.png);
        padding: 10px;
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: 5px;
        border: none;
        background-color: $site-blue;
        opacity: 35%;
        padding-left: 40px;
    }

    .links-right {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 716px;

        a {
            display: flex;
            text-decoration: none;
            color: #000;
        }
        
        .right-img-link {

            p {
                padding-top: 16px;
                margin-right: 10px;
            }

            img {
                width: 52px;
                height: 52px;
            }
        }
    }
}

//ipad media query
@media screen and (max-width: $ipad-width)  {
    nav {
        justify-content: space-between;
        padding: 0 30px;

        .links-left {
            img {
                width: 45px;
                height: 45px;
            }
        }

        .searchbar {
            width: 51%;
        }

        .links-right {
            visibility: hidden;
            width: 0px;
        }

        .hamburger {
            background-image: url("../images/hamburger.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
    }
}

//iphone media query
@media screen and (max-width: $iphone-width) {
    nav {
        justify-content: space-between;
        padding: 0 15px;

        .links-left {
            p {
                font-size: 13px;
            }
            img {
                width: 30px;
                height: 30px;
            }
        }

        .searchbar {
            width: 43%;
            height: 16px;
            background-size: 15px;
            font-size: 11px;
            padding-left: 27px;
        }

        .links-right {
            visibility: hidden;
            width: 0px;
        }

        .hamburger {
            background-image: url("../images/hamburger.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 33px;
            height: 33px;
            cursor: pointer;
        }
    }
}